.left-navigation-wrapper{
    margin:none;
    flex:3;
    position: relative;
    left: 20px;
    min-width: 350px;
}

.left-navigation p, .left-navigation li, .left-navigation li a{
  color: rgb(75, 75, 75);
  cursor: pointer;
  display: block;
  float: none;
  font-family: "Adobe Clean", sans-serif;
  font-size: 18px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  position: relative;
  text-align: left;
  text-decoration: none;
}

.left-navigation li a{
    max-width: 250px;
    width:100%;
}

.left-navigation li a:hover, .left-navigation p:hover{
    background-color: rgb(232, 232, 232);
    box-shadow: rgb(140, 144, 140) 0px 0px 3px 0px;
}

.left-navigation img{
  position: relative;
  top:6px;
  right:25px;
}

.left-navigation p{
  position: relative;
  padding-left: 0px;
  right: 15px;
}

.planning li,.produce li,.deliver li,.analyze li{
  position: relative;
  right: 15px;
}

.planning ul,.produce li,.deliver li,.analyze li{
  display: none;
  transition: display 0.3s ease;
}

.left-navigation > div > ul {
  padding-left: 0;
}